body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a7a3a3;
    margin: 0;
    padding: 0;
    text-align: center;
}

.auth-container-1 {
    width: 500px;
    margin: 100px auto;
    background: black;
    padding: 20px;
    border-radius: 10px;
    color:#E5B80B;
}

.auth-container-2 {
    width: 700px !important;
    margin: 100px auto !important;
    background: #E5B80B !important;
    padding: 20px !important;
    border-radius: 10px !important;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 20px;
    text-align: center;
    display: inline-block;
    background-color: black;
    outline: 2px solid #E5B80B;
    outline-offset: 5px;
}

.signup {
    color: #E5B80B;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.auth-container-2 {
    margin-top: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.form-group {
    width: 48%;
}

.auth-container-2 h1{
    margin-bottom: 5px;
    font-size: 36px;
}

.tag {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    color: #E5B80B;
}

.sign {
    color: black;
}

.input-container {
    width: 48%;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #E5B80B;
    box-sizing: border-box;
    background-color: #ece5e5;
}

button {
    width: 20%;
    padding: 10px;
    font-size: 20px;
    background-color: #E5B80B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.submit-2 {
    background-color: black;
    color: #E5B80B;
}

.submit-2:hover {
    color: black;
    background-color: #9a7a05;
}

.welcome {
    margin-top: 10px;
    display: block;
    width: 150px;
}

button:hover {
    background-color: #d1a500;
}

span {
    color: white;
    cursor: pointer;
}

span:hover {
    color: #E5B80B;
}